@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.page{
    background-color: white;
}

.gamer{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
}

.image_app{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 30%;
}

.text_app{
    width: 50%;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    color: #3581F8;
}

.list_games{
    background-color: #0E224E;

    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.titulo_list_games{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_cards{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.pesquisas{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin-bottom: 2%;
    margin-top: 2%;
}

.select{
    width: 20% ;
}

.searchbar{
    width: 70%;
    margin-left: 2%;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.input_search{
    width: 90%;
    height: 2rem;
    border-radius: 5px;
    padding: 2px;
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}

.lupa{
    width: 3%;
}

.input_search:focus{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.pagination{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    padding: 2%;
}

.button_pagination{
    background-color: #0E224E;
    border: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.filter_card{
    border: none;
    background-color: transparent;
    margin-left: 1%;
    cursor: pointer;
}

.img_filter{
    width: 30px;
}


@media only screen and (max-width: 850px){
    .image_app{
        width: 40%;
    }

    .text_app{
        width: 60%;
    }

    .logo{
        width: 10rem;
    }

    .lupa{
        width: 5%;
    }
}

@media only screen and (max-width: 700px){
    .container_cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 665px){
    .pesquisas{
        display: flex;
        flex-direction: column;
    }

    .select{
        margin-bottom: 2%;
        width: 68%;
    }

    .searchbar{
        margin-bottom: 2%;
    }

    .lupa{
        width: 7%;
    }
}

@media only screen and (max-width: 605px) {
    
    .gamer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

}



@media only screen and (max-width: 610px){
    .container_cards{
      display: flex;
      flex-direction: column;
    }
}

@media only screen and (max-width: 610px){
    .filter_card{
        width: 10px;
    }
}