@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.container_card{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
   
    font-family: 'Quicksand', sans-serif;

    margin-bottom: 3%;
    margin-left: 2%;
    border-radius: 15px;

    color: #3682F8;

    position: relative;
}

.imagem_card{
    width: 100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.titulo_card{
    margin: 2%;
    width: 100%;
   
}

.desc{
    margin: 5%;
}

.estrela{
    border: none;
    background-color: white;
    cursor: pointer;
}

.coracao {
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    cursor: pointer;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 80%;

    margin-top: 2%;
}

.coracao:hover {
    animation: pulse 500ms infinite ease-in-out alternate;
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}

@media only screen and (max-width: 800px){
    .container_card{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 700px){
    .titulo_card{
        font-size: 1rem;
    }

    .desc{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px){
    .container_card{
        width: 60%;
    }
}

@media only screen and (max-width: 580px){
    .icon_coracao{
        width: 20px;
    }

    .icon_estrela{
        width: 20px;
    }
}

@media only screen and (max-width: 550px){
    .container_card{
        margin-top: 15%;
    }
}

