@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.nav{
    background-color: white;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 15px 10px -15px #3785FA;
}

.container_image{
    width: 50%;
    padding-left: 2%;
}

.image{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container_links{
    width: 50%;
    margin-right: 2%;
}



.lista_links {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.lista_links li {
   
    list-style-type: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}
 

.espaco{
    margin-right: 5%;
}

.botao_sem_estilo{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a{
    width: 100%;
    text-decoration: none;
    color: #2B65E6;
}

.link{
    text-decoration: none;
    width: 100%;
}

.link a:hover{
    font-weight: bold;
    
}

.menuHamburguer{
    display: none;
    flex-direction: column;
    margin-right: 1rem;
}

.menuItem{
    width: 35px;
    height: 4px;
    margin: 2px 0;
    background-color: #2B65E6;
}

@media only screen and (max-width: 850px) {

    .menuHamburguer{
        display: flex;
    }

    
    .container_image{
        width: 70%;
    }

    .lista_links{
        display: none;
    }

   
    .lista_links.active {
        
        position: absolute;
        top: 7rem;
        width: 100vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
      
      


}

@media only screen and (max-width: 700px) {

    .links{
        width: 50%;
    }

    .container_image{
        margin-top: 2%;
        margin-bottom: 2%;
    }

}

@media only screen and (max-width: 570px) {
    img{
        width: 3rem;
    }

    .container_image{
        width: 50%;
    }

    .container_links{
        width: 50%;
    }

}
